# =========================
# ModelSim / QuestaSim
# =========================

# Biblioteca compilada
work/
sim/work/

# Arquivos de execução
transcript
vsim.wlf
*.wlf
*.log
*.jou

# Configurações locais (opcional ignorar)
modelsim.ini

# =========================
# Waveforms
# =========================

*.vcd
*.fst

# =========================
# Pastas de simulação (mantém scripts .do)
# =========================

sim/*
!sim/*.do
!sim/**/*.do

# =========================
# Build genérico
# =========================

build/

# =========================
# Quartus (arquivos gerados)
# =========================

quartus/db/
quartus/incremental_db/
quartus/output_files/

# Arquivos temporários e logs
quartus/*.log
quartus/*.rpt
quartus/*.summary
quartus/*.smsg

# Arquivos de sessão
quartus/*.qws
quartus/*.jdi

# Outros gerados
quartus/*.pin
quartus/*.sof
quartus/*.pof
quartus/*.hex
quartus/*.elf

# =========================
# Outros
# =========================

*.out
*.vvp
.history/